<html>

    <head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<title>My Photos</title>
    </head>

    
    <body>

	<div class="container">
	    
	<div class="card mt-2">
	    <div class="card-header">
		<h5>Total photos : {{ basic_stats['total_photos'] }}</h5>
	    </div>
	    <div class="card-body">

		<h5>Photos by Camera / Lens </h5>
		<table>
		    
		    {% for camera_lens, n in basic_stats['photos_by_camera_lens'] %}
		    <tr>
			<td>
			    <a href="{{url_for('stats', camera_lens=camera_lens )}}">
				{{ camera_lens }}
			    </a>
			</td>
			<td>{{ n }}</td>
		    </tr>
		    {% endfor %}
		    
		</table>
		
	    </div>
	</div>


	<div class="card mt-2">
	    <div class="card-body">
		<h5 class="card-title">Photos by year</h5>
		<div class="chart-container">
		    <canvas id="yearTaken"></canvas>
		</div>
	    </div>
	</div>
	
	<div class="card mt-2">
	    <div class="card-body">
		<h5 class="card-title">Photos by Focal length </h5>
		<div class="chart-container">
		    <canvas id="focalLength"></canvas>
		</div>
	    </div>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>	
	<script>
	 var ctx = document.getElementById('yearTaken').getContext('2d');
	 var chart = new Chart(ctx, {
	     // The type of chart we want to create
	     type: 'bar',

	     // The data for our dataset
	     data: {
		 labels: {{  basic_stats['year'] }},
		 datasets: [{
		     /* label: 'Photos at each focal length', */
		     backgroundColor: 'rgb(255, 99, 132)',
		     borderColor: 'rgb(255, 99, 132)',
		     data: {{ basic_stats['year_count'] }}
		 }]
	     },

	     // Configuration options go here
	     options: {}
	 });	    
	</script>

	<script>
	 var ctx = document.getElementById('focalLength').getContext('2d');
	 var chart = new Chart(ctx, {
	     // The type of chart we want to create
	     type: 'bar',

	     // The data for our dataset
	     data: {
		 labels: {{  basic_stats['focal_length'] }},
		 datasets: [{
		     /* label: 'Photos at each focal length', */
		     backgroundColor: 'rgb(255, 99, 132)',
		     borderColor: 'rgb(255, 99, 132)',
		     data: {{ basic_stats['focal_length_count'] }}
		 }]
	     },

	     // Configuration options go here
	     options: {}
	 });	    
	</script>	


	
    </body>

</html>
